@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
}

body {
  place-items: center;
  min-height: 100vh;
}

h1{
  user-select: none;
}

.img_Home{
  background-position: center;
  background-size: cover;
  width: 350px;
  height: 350px;
  background-repeat: no-repeat;
  background-image: url('/3.png');
}

.hoverLogo{
  transition: all 0.4s ease-in;
}

.hoverLogo:hover{
  scale: 1.15;
  transition: all 0.4s ease-in;
}